/* Created 13_04_2022 by Anthony.D */

/* "Who Wants to Be a Millionaire" project V 1.0 */ 

body {
    background: linear-gradient(90deg, rgba(13, 13, 15, 0.349) 0%, rgba(16, 17, 18, 0.425) 100%), url('../assets/background.jpg');
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-bar {
    width: 100%;
    height: 50px;
    background-color: rgba(17, 17, 17, 0.808);

}

.nav-bar-text {
    color: white;
    font-size: 25px;
    margin-left: 25px;
}

.nav-bar-username {
    color: rgb(0, 162, 255);
    font-size: 25px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: 5px;
}

li p {

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}